@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
/* font-family: 'Source Code Pro', monospace; */

body{
    background-color: rgb(0, 22, 37);
}
#div_gerneral{
    color: white;
    font-family: 'Source Code Pro', monospace; 
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 70px;
}

#div_cartas{
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
}

.carta{
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 39, 88);
    width: 185px;
    height: 240px;
    box-shadow: 
    inset -5px 5px rgba(255, 255, 255, 0.075),
    inset -2px 2px rgba(255, 255, 255, 0.075),
    inset 5px -5px rgba(0, 0, 0, 0.144),
    inset 3px -3px rgba(0, 0, 0, 0.158);
    transition: .2s;
}
.carta:hover{
    background-color: rgb(2, 50, 112);
    scale: 1.03;
}
.title_carta {
    font-size: 20px;
    position: relative;
    top: -20px;
}

#img_carta{
    position: relative;
    scale: 2.5;
    width: 96px;
    height: 96px;
    object-fit: none;
}
.power_carta{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    position: relative;
    bottom: -20px;
    left: 60px;
}


.modal_back{
    display: none;
    top: 0px;
    z-index: 2;
    background-color: rgba(1, 1, 56, 0.712);
    width: 100vw;
    height: 100vh;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.modal_window{
    color: white;
    position: absolute;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(112, 9, 2);
    width: 495px;
    height: 300px;
    box-shadow: 
    inset -5px 5px rgba(255, 255, 255, 0.075),
    inset -2px 2px rgba(255, 255, 255, 0.075),
    inset 5px -5px rgba(0, 0, 0, 0.144),
    inset 3px -3px rgba(0, 0, 0, 0.158);
    transition: .2s;
}
.modal_window div{
    margin: 25px;
}

@media screen and (max-width: 390px) {
    .modal_window {
        scale: 1;
        justify-content: center;
        flex-direction: column-reverse;
        width: 330px;
        height: 550px;
    }
}


#img_modal{
    position: relative;
    scale: 4;
    width: 100px;
    height: 100px;
    object-fit: none;
}
#old_card{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 240px;
}
#informations{
    border-radius: 10px;
    background-color: rgba(73, 0, 0, 0.801);
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    box-shadow: 
    inset 5px -5px rgba(255, 255, 255, 0.075),
    inset 2px -2px rgba(255, 255, 255, 0.075),
    inset -5px 5px rgba(0, 0, 0, 0.144),
    inset -3px 3px rgba(0, 0, 0, 0.158);
}
#abilities{
    display: flex;
    flex-wrap: wrap;
}

#locations{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 60px;
    word-wrap: normal;
    overflow-y:auto;
}
h3{
   margin: 0px; 
}
#title_modal{
    position: relative;
}

#power_modal{
    position: relative;
    top: 5px;
    left: 175px;
}

#loading_space{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 400px;

}

#loading{
    z-index: 20;
    position: absolute;
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: 2s;

}
#loading::after{
    content: '';
    z-index: 20;
    position: absolute;
    display: flex;
    top: -20px;
    background-color: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    border-radius: 50%;

}
#loading::before{
    content: '';
    z-index: 20;
    position: absolute;
    display: flex;
    top: 20px;
    background-color: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    border-radius: 50%;

}

@keyframes spin{
    0%{
        rotate: 0deg;
        scale: 0.7;

    }
    50%{
        rotate: 720deg;
        scale: 1.6;

    }
    100%{
        rotate: 0deg;
        scale: 0.7;

    }
}

#amount_pokemons{
    color: white;
    position: relative;
    margin-bottom: 20px;
    font-size: 20px;
    width: 100px;
    border-radius: 9px;
    background-color: rgb(5, 31, 49);

}
